<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan & Pay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='scan.css') }}">
</head>
<body>

    <div id="qr-scanner-section" class="screen active">
        <h2>Scan the QR Code</h2>
        <div id="qr-scanner" class="qr-scanner-box">

            <p><img src="{{ url_for('static', filename='images/qr.jpg') }}" alt="qr" id="qr-img"></p>
        </div>
    </div>

    <div id="payment-screen" class="screen">
        <h2 id="user-name">Mitish Raina</h2>
        <div class="amount-container">
            <label for="amount">Amount to Pay (in KrypTapp):</label>
            <input type="number" id="amount" placeholder="Enter Amount">
        </div>
        <button class="btn" id="pay-btn">Pay</button>
    </div>

    <div id="pin-screen" class="screen">
        <h2>Enter PIN</h2>
        <input type="password" id="pin" placeholder="Enter PIN">
        <button class="btn" id="confirm-pin-btn">Confirm</button>
    </div>

    <div id="completed-screen" class="screen">
        <div class="circle-check">
            <div class="checkmark"></div>
        </div>
        <h3 id="paid-amount">0.00 Kryp</h3>
        <p id="paid-to">Paid to Paarth Sharma</p>
        <button class="btn" id="done-btn">Done</button>
    </div>

    <script src="{{ url_for('static', filename='scan.js') }}"></script>
</body>
</html>
